<div class='channel'>
    

<%@chats.each do |m|%>
<div class="chat_p2 chat2" >
<%=User.find_by(id: m.user_id).email%><p class='chat_content'><%=m.content%></p><br>
</div>
<%end%>

<div id="new_message" class="chat_p2"></div>

<br>
<%=form_with model: @chat do |f|%>
<%if current_user.id == @channel.task_id%>
<%= f.hidden_field :chat_post_id, value: @channel.user_id%>
<%elsif current_user.id == @channel.user_id%>
<%= f.hidden_field :chat_post_id, value: @channel.task_id%>
<%end%>
<%= f.hidden_field :channel_id, value: @channel.id%>
<%= f.hidden_field :task_id, value: @channel.task_id%>
<%= f.hidden_field :user_id, value: current_user.id%>
<%=f.text_field :content,class:'chatqq form-control',id:'chat_message1'%>
<%=f.submit '投稿',class:'btn btn-outline-secondary show_btn chatqqq',id:"button-addon2"%>
<%end%>


</div>
