<h1>プロフィール</h1>
<div class='container'>
<%=form_with model: @user do |f|%>
<h2>自己紹介</h2>
<p>アイコン</p>
<%= f.file_field :icon %>
<p>名前</p>
<%=f.text_field:name,class:'form-control'%>
<p>年齢</p>
<%=f.number_field:old,class:'form-control'%>
<p>職歴</p>
<%=f.text_field:job_past,class:'form-control'%>
<p>開発言語</p>
<%=f.text_field:programing_language,class:'form-control'%>
<h2>コメント</h2>
<%=f.text_area:coment,class:'form-control'%>
<%=f.submit '更新' ,class:'btn btn-primary'%>
<%end%>    
</div>
